@model IEnumerable<Lab01_EDI.Models.Jugador> 

@{
    ViewData["Title"] = "Upload";
}

<h1>Cargar Datos</h1>
<center><p class="h4">Jugadores</p></center>
<p></p>

<form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Seleccione archivo csv.</label>
        <input class="form-control" type="file" name="file" id="formfile">
    </div>
    <center> <button type="submit" class="btn btn-outline-primary">Subir</button> </center>
</form>

<div>
    <a asp-action="Add">Añadir Jugador...</a>
</div>

@if (Model.Count() > 0)
{
    <p>
    <table class="table" cellpadding="0" cellspacing="0">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Club)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>
}
